.grid-wrap {
  height: '400px';
  width: '100%';
}

.grid-cell {
  color: '#f00!important'
}

// .MuiDataGrid-columnHeaders
// .css-f3jnds-MuiDataGrid-columnHeaders {
//   color: '#f00!important'
// }