.main {
  background-image: url("../static/main-backgroud.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  max-height: 800px;

  .header-wrap {
    @include section-wrap;
  }

  .logo-wrap {
    @include section;
    display: flex;
    align-items: center;

    h1 {
      padding-left: 40px;
      color: $text-color-1;
    }

    .logo {
      width: 200px;
      height: 200px;
    }
  }
}

.intro-wrap {
  @include section-wrap;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  .intro-section {
    @include section;
    display: flex;
  
    .intro {
      padding-right: 160px;
      font-size: $font-size-big;
    }
  }
}

@media screen and (max-width: $small-desctop) {
  .main {
    max-height: 800px;
  
    .logo-wrap {
      h1 {
        padding-left: 40px;
      }
  
      .logo {
        width: 150px;
        height: 150px;
      }
    }
  }

  .intro-wrap {
    .intro-section {
      .intro {
        padding-right: 80px;
        font-size: $font-size-normal;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .intro-wrap {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 60px;
    
    .intro-section {
      display: flex;
      flex-direction: column;

      .intro {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: $phone) {
  .main {
    .header-wrap {
      padding: 0;
    }

    .logo-wrap {
      padding-left: 20px;

      h1 {
        padding-left: 20px;
        margin: 0;
      }

      .logo {
        width: 60px;
        height: 60px;
      }
    }
  }

  .intro-wrap {
    @include section-wrap-mob;
    margin-bottom: 0px;
  }
}
