@import "variables";
@import "head";
@import "what-you-get";
@import "who-we-are";
@import "grid";
@import "footer";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-size: calc(10px + 2vmin);
}

.wrap {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: $font-size-h1;
  }
  
  h2 {
    font-size: $font-size-h2;
    color: $text-color-2;
  }
  
  h3 {
    font-size: $font-size-h3;
  }
}

.about {
  display: flex;
}

@media screen and (max-width: $small-desctop) {
  .about {
    flex-direction: column;
  }
}

@media screen and (max-width: $small-desctop) {
  h1 {
    font-size: $font-size-h1-s;
  }

  h2 {
    font-size: $font-size-h2-s;
  }
  
  h3 {
    font-size: $font-size-h3-s;
  }
}

@media screen and (max-width: $phone) {
  .wrap {
    h1 {
      font-size: $font-size-h1-mob;
      font-weight: bold;
    }

    h2 {
      font-size: $font-size-h2-mob;
      font-weight: bold;
    }
    
    h3 {
      font-size: $font-size-h3-mob;
    }
  }
}
