.who-we-are-wrap {
  @include section-wrap;
  
  .wrap-container {
    @include section;
    margin-top: 60px;
  }
}

@media screen and (max-width: $small-desctop) {
  .who-we-are-wrap {
    .wrap-container {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $tablet) {
  .who-we-are-wrap {
    h2 {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: $phone) {
  .who-we-are-wrap {
    @include section-wrap-mob;
  }
}